<!-- edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <style>
        body {
            
            background-color: #5257fc;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            padding: 8px;
            margin-bottom: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            padding: 10px 20px;
            background-color: #026902;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 150px;
            margin: auto;
            
            font-size: 16px;
        }

        

        

        

        .error {
            color: red;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit User </h1>
        <!-- <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %> -->
        <form id="edit-form" action='/users/edit' method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" >
            <span id="usernameError" class="error"></span>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" >
            <span id="emailError" class="error"></span>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="<%= user.password %>" >
            <span id="passwordError" class="error"></span>

            <button type="submit">Save Changes</button>
        </form>
    </div>

</body>
</html>

